@{
    Html.RegisterDynamicStyleSheet("/UI/Home/DynamicBlock/updated.css");
    Html.RegisterDynamicScript("/UI/Home/DynamicBlock/updated.js");
}
<p class="updated">This content and its styles &amp; scripts are loaded via AJAX</p>